doctype html
html
  head
    title Lab 2
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap-css/bootstrap.min.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    if optimize
      script(src='/javascripts/main-built.js')
    else
      script(src='/javascripts/vendor/jquery/jquery.js')
      script(src='/javascripts/vendor/bootstrap-css/bootstrap.min.js')
      script(src='/javascripts/vendor/requirejs/require.js', data-main='/javascripts/main.js')

  body
    block content
